<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.khh.mapper.PostItMapper">
    <insert id="create" keyProperty="id" useGeneratedKeys="true">
		insert into PostIt(user_id, content, pos_x, pos_y, c_color, h_color, width, height)
		values(#{user_id}, #{content}, #{pos_x}, #{pos_y}, #{c_color}, #{h_color}, 150, 150)
	</insert>

    <select id="findById" resultType="PostIt">
		select * from PostIt where id = #{id}
	</select>

    <select id="findAll" resultType="PostIt">
		select * from PostIt where user_id = #{user_id}
	</select>

    <update id="update">
		update PostIt
		set
		content = #{content}, pos_x = #{pos_x}, pos_y = #{pos_y}, c_color = #{c_color}, h_color = #{h_color},
		width = #{width}, height = #{height}
		where id = #{id}
	</update>

    <delete id="deleteById">
		delete from PostIt where id = #{id}
	</delete>

    <delete id="deleteAll">
		delete from PostIt
	</delete>

    <select id="count" resultType="int">
		select count(*) from PostIt
	</select>

    <select id="countUserPostIt" resultType="int">
		select count(*) from PostIt where user_id = #{user_id}
	</select>

    <select id="initAutoIncrement">
		alter table PostIt auto_increment=1;
	</select>
</mapper>